/* Write your CSS here! */
body {
margin: 8px;
display: block;
}

img {
    width: 25%;
    height: 25%;
    padding-bottom: 30px;
}

h1 {
   margin-left: 10px;
}
ul {
   margin-left: 10px;
}

h2 {
   margin-left: 50px;
}

p {
   margin-left: 75px;
}

#mainHeading {
   color:red;
}

.funParagraph {
   color:green;
}